@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/******** COLOR VARIABLES ********/
:root {
  --primary-white: #fff;
  --primary-black: #000;
  --primary-red: rgba(138, 18, 18, 0.87);
}
body {
  font-family: 'Gugi', cursive;
  margin:0; 
  padding:0; 
  height:100%;
}
/******** NAVBAR STYLES ********/
.nav-link {
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  min-width: 88px;
  line-height: 36px;
  border-radius: 2px;
  text-align: left;
}

/* .nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer; 
  border: none;
} */

.navbar {
  background-color: transparent;
  position:absolute;
  bottom:0;
  left:0;
  z-index: 2;
}

.logo {
  height:4.3rem;
  width:4.3rem;
  margin-right: 2rem;
}

.navbar-nav > li > a {
  color: var(--primary-red)!important; /* how to override bootstrap */
  margin: 0 12px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
} 

.navbar-nav > li > a.active:focus {
  border-bottom: 2px solid  var(--primary-red);
  border: 1px solid transparent;
  z-index: 2;
}
.navbar-nav > li > a:hover {
  border-bottom: 2px solid  var(--primary-red);
}


/* .navbar-nav > li > a {
  font-size: 1rem;
  color: var(--primary-black);
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 700;
  margin-right: 2rem;
  position: relative;
}

.navbar-nav > li > a.active:hover, 
.navbar-nav > li > a.active:focus {
  background: none;
  font-size: 1rem;
  color: #262423;
}

.navbar-nav > li > a:hover:after, 
.navbar-nav > li > a.active:focus:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: .3rem;
  background:  var(--primary-black);
}
  */

/******** HEADER STYLES ********/

/* .main{
  background: black;
  height: 100vh;
} */

.main-info{
  display:flex;
  /* position: absolute; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: black;
  height: 100vh;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.myName {
  font-size:3rem;
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 1.5rem !important
  }

  .myName {
    font-size: 2rem !important
  }
}

/******** TYPED STYLES ********/

.typed {
    margin-bottom: 5rem;
    font-size: 3rem;
    color:var(--primary-red)
}

@media(max-width:768px) {
  .typed {
    font-size: 1.5rem !important
  }
}

/******** PORTFOLIO BUTTON STYLES ********/

.btn-portfolio {
  border: 1px solid var(--primary-red);
  padding: 12px;
  text-transform: uppercase;
  border-radius: 0;
  color: var(--primary-red);
  margin-bottom: 7rem;
  text-decoration: none;
  z-index: 1;
}

.btn-portfolio:hover {
    text-decoration: none;
    background-color: var(--primary-red);
    color: var(--primary-black);
    transition: .2s ease-in-out;
}


/******** PARTICLES STYLES(We get the class by inspecting the element) ********/

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

/******** ABOUT ME STYLES ********/

.photo-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
    width: 16rem;
    border-radius: 50%;
    padding: .3rem;
    border: 1px solid var(--primary-red)
}

.about-heading {
  text-transform: uppercase;
  color: var(--primary-red);
}

@media (max-width: 468px) {
  .profile-pic{
    width: 8rem;
  }
}